
@media (max-width: 992px){
  .hamburger, .menu-toggle{display:block;cursor:pointer}
  nav ul, .nav-links, .navbar-menu{display:none}
  body.menu-open nav ul,
  body.menu-open .nav-links,
  body.menu-open .navbar-menu{display:flex;flex-direction:column}
}
